
@{
    ViewBag.Title = "ExcludedDays";
}

<style type="text/css">
    .PageTitle {
        padding-top: 25px;
        padding-bottom: 25px;
    }
</style>
@using (Html.BeginForm())
{
    <h2 class="PageTitle">ExcludedDays</h2>
    <body>
        <row>
            <div class="col-md-10">
                <h4>If you would like to supsend services for a certain time, enter your supspended service start date and your end date.  Your pickups will be resumed at the end of your supsension.</h4>
            </div>
            @if(ViewBag.StartDay ==null)
            {
            <div class="col-md-10">
                <h5>You currently do not have a service suspension on your account, would you like to add one?</h5>
            </div>
            }
            else
            {
            <div class="col-md-10">
                <h5>The most recent suspension on your account is from @ViewBag.StartDay.ToString("d") to @ViewBag.EndDay.ToString("d"). If this suspension already finished it will not affect future pickups. You can add a new service suspension by entering a start and end date below.</h5>
            </div>
            }
        </row>


        <hr />
        <div class="row">
            <span class="col-md-1"></span>
            <fieldset>
                <span class="col-md-4">
                    <label for="start">Start Date</label>
                    <input type="date" name="start"/>
                </span>
                <span class="col-md-2"></span>
                <span class="col-md-4">
                    <label for="end">End Date</label>
                    <input type="date" name="end" />
                </span>
            </fieldset>
            <span class="col-md-1"></span>
        </div>

        
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save New Suspension" class="btn btn-default" />
                </div>
            </div>
        
        <row>
            <div>
                @Html.ActionLink("Return to Home", "Home")
            </div>
        </row>
    </body>
}


