
@{
    ViewBag.Title = "Home";
}

<style type="text/css">
    #myVideo {
        width: 100%;
    }

    .PageTitle {
        padding: 25px;
    }
</style>
<h2 class="PageTitle">Home</h2>
<div class="row">
    <span class="col-md-8">
        <video id="myVideo" autoplay="autoplay" loop="loop">
            <source src="~/Content/trashSong.mp4" type="video/mp4" />
        </video>
    </span>
    <span class="col-md-4">
        <h2>Welcome</h2>
        <p>To Philadelphia's premier trash collecter service, TRASH MAN. We drive door to door in our custom limousines to pick up your trash with style. No loud trucks, no smelly mess, and a whole lot of perfectly tailored tuxedos.</p>
    </span>
</div>
