@model IEnumerable<TrashCollector.Models.OneTimePickup>

@{
    ViewBag.Title = "OneTime";
}

<style type="text/css">
    .PageTitle {
        padding-top: 25px;
        padding-bottom: 25px;
    }
</style>

<body>
    @using (Html.BeginForm())
    {
        <h2 class="PageTitle">
            Add One Time Pickup
        </h2>
        <h5 class="Page-SecondaryTitle">
            Add a one time pickup to your pickup schedule for an additional charge of $5 to your account on pickup.
        </h5>
        if (ViewBag.OneTimeDays.Count ==0)
        {
            <div>
                <p> You currently have no extra pickup days scheduled.</p>
            </div>
        }
        else
        {

            <table class="table">
                <tr>
                    <th>
                        Currently Scheduled Dates
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in ViewBag.OneTimeDays)
                {
                    <tr>
                        <td>
                            @item.date
                        </td>
                    </tr>
                }
            </table>
        }

                <div>
                </div>
                <div class="row">
                    <span class="col-md-2"></span>
                    <span class="col-md-4">
                        <label for="start">Pickup Date</label>
                        <input type="date" name="pickup" />
                    </span>
                    <span class="col-md-2"></span>
                    <span class="col-md-3">
                        <input type="submit" value="Save New Date" class="btn btn-default" />
                    </span>
                </div>
                }

        </body>
