
@{
    ViewBag.Title = "Pickup";
}
<style type="text/css">
    .PageTitle {
        padding-top: 25px;
        padding-bottom: 25px;
    }
</style>
<h2 class="PageTitle">Pickup</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if(ViewBag.PickupDate !=null)
    {
    <div class=" col-md-10">
        <h3>
            Your current day of the week for your scheduled pickup is @ViewBag.PickupDate.  If you change your pickup date the change will take affect one day from submitting the change.
        </h3>
    </div>
        
    }
    else
    {
        <h3>
            Your current day of the week for your scheduled pickup is unassigned, please pick a day below.
        </h3>
    }
    <hr/>
    <div class="row"></div>
    <hr/>
    <h5>
        Pick a day for your new pickup day  
        @Html.DropDownList("PickedDay", new SelectList(ViewBag.Days, "Name"))
    </h5>

    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save New Date" class="btn btn-default" />
        </div>
    </div>
    
}

@*<div>
    @Html.ActionLink("Back to home", "Home")
</div>*@
