
@{
    ViewBag.Title = "Pickup";
}

<h1>Pickup</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if(ViewBag.PickupDate !=null)
    {
    <div class=" col-md-10">
        <h3>
            Your current day of the week for your scheduled pickup is @ViewBag.PickupDate.;
        </h3>
    </div>
        
    }
    else
    {
        <h3>
            Your current day of the week for your scheduled pickup is unassigned, please pick a day below.
        </h3>
    }
    <hr/>
    <div>
        <h1> </h1>
    </div>
    <hr/>
    <h5>
        Pick a day for your new pickup day  
        @Html.DropDownList("PickedDay", new SelectList(ViewBag.Days, "Name"));
    </h5>

    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save New Date" class="btn btn-default" />
        </div>
    </div>
    
}

@*<div>
    @Html.ActionLink("Back to home", "Home")
</div>*@
