
@{
    ViewBag.Title = "Pricing";
}

<style type="text/css">
    .PageTitle {
        padding: 25px;
    }
</style>
<h2 class="PageTitle">Pricing</h2>
<div class="row">
    <span class="col-md-1"></span>
    <span class="col-md-10">
        <p>We offer the best Trash pickup prices and the best outfits in the trash business. For just five dollars a pickup you can have three men in tuxedos pick up your trash and if you tip them a nickel they might just sing you a tune.  You can add one time pickups for the same price any time you would like.</p>
    </span>
    <span class="col-md-1"></span>
</div>

