
@{
    ViewBag.Title = "Features";
}

<style type="text/css">
    .PageTitle {
        padding: 25px;
    }
</style>
<h2 class="PageTitle">Features</h2>
<div class="row">
    <span class="col-md-1"></span>
    <span class="col-md-10">
        <p>We offer the best Trash pickup prices and the best outfits in the trash business. You can add a one time pick up if you have a lot of trash and can suspend your service if you do not need a pickup that week.  Our employees are required to sing to you if you tip them over a nickel, if you tip a penny you will be met with silence.</p>
    </span>
    <span class="col-md-1"></span>
</div>
