
@{
    ViewBag.Title = "AllMap";
}

<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }

        .PageTitle {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    </style>
</head>
<body>
    <h2 class="PageTitle">Location</h2>
    <h5>@ViewBag.Info.ToString()</h5>
    <div id="map"></div>
    <div>
        <p>
            @Html.ActionLink("Return to Weekly Pickups", "WeeklyPickups")
        </p>
    </div>
    <script>
        function initMap() {
            var Address = '@ViewBag.Address';
            var geocoder = new google.maps.Geocoder();
            var LatLong = { lat: 39.9526, lng: 75.1652 };
            geocoder.geocode({ 'address': Address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    LatLong = results[0].geometry.location;
                    var map = new google.maps.Map(document.getElementById('map'), { zoom: 14, center: LatLong });
                    var marker = new google.maps.Marker({ map: map, position: LatLong });
                }
            });
        }

    </script>
    <script async defer
            src='@ViewBag.myKey'>
    </script>
</body>
