
@{
    ViewBag.Title = "Map";
}

<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <h3>Location</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <div>
        <p>
            @Html.Action("Return to Daily Pickups", "DailyPickups");
        </p>
    </div>
    <script>
        function initMap() {
            var Address = '@ViewBag.Address';
            var geocoder = new google.maps.Geocoder();
            var LatLong = { lat: 39.9526, lng: 75.1652 };
            geocoder.geocode({ 'address': Address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    LatLong = results[0].geometry.location;
                    var map = new google.maps.Map(document.getElementById('map'), { zoom: 10, center: LatLong });
                    var marker = new google.maps.Marker({ map: map, position: LatLong });
                }
            });
        }

    </script>
    <script async defer
            src='@ViewBag.myKey'>
    </script>
</body>
